:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // min-width: 100vw;
  min-height: 100svh;
  background-color: white;

}

// #fence {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100vw;
//   height: 100svh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 10;
//   color: white;
//   background-color: black;
// }

// canvas {
//   z-index: 1;
// }
